@import '~bootstrap/scss/bootstrap';

body {
  font-family:emoji;
  background-image: url('../assets/images/kirill-x_VOtnVJeGE-unsplash.jpg');
}

.navbar {
  background-color: #698474;
  height: max-content;
}

.navbar-brand {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.nav-item a,
.nav-item button{
  color:white;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;  
  &:hover{
    color:lightgrey;
    text-decoration: none; 
  }
}

.nav-item.dropdown {
      position: relative;

      .dropdown-toggle {
        appearance: none;
        -webkit-appearance: none; 
        -moz-appearance: none; 
        padding-right: 0; 
        background: none;
        border: none;
        font-size: 20px;
        &:hover {
          cursor: pointer;
          appearance: none;
        }
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        width: 50vw;
        height: auto;
        top: 100%;
        left: 0;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        z-index: 1000;
        .dropdown-item {
          padding: 10px;
          color: black;
          text-decoration: none;
          &:hover {
            background-color: #f5f5f5;
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
}

.nav-link {
  color: #fff;

  &:hover {
    color: lightgrey;
  }
}

.ml-auto {
  margin-left: auto;
  button {
    margin-left: 10px;
    background: none;
    border: none;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
