.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff0e9;
  width: 100%;

}

.site-title {
  font-size: 24px;
  color: #ec5425;
  text-decoration: none;
  flex:1;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  color: #100101;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

